Set a particular day:
<input type="date" value="1980-08-26">
<br>
min and max days:
<input type="date" min="2017-08-15" max="2018-08-26" step="7">
<br>
Set to today (JavaScript):
<input id="today" type="date">
<br>
Different method for today (JavaScript):
<input id="today2" type="date">
<br>
Set a particular week:
<input type="week" value="2014-W02">
<br>
Set a particular month:
<input type="month" value="2018-08">
<br>
Datetime:
<input type="datetime-local" value="2017-06-13T13:00">
<br>
Just time:
<input type="time" value="13:00" step="900">
